body {
  background-color: tomato;
}

/* ID selectors */
#bike-facts-heading {
  background-color: aquamarine;
  padding: 5px;
}

#cacti-facts-heading {
  background-color: purple;
  padding: 5px;
}

/* Class selectors */

.facts {
  font-family: monospace;
}

/* Pseudo classes */

.facts:hover {
  background-color: aqua;
}
