/* --- Our boxes --- */

.box {
  width: 200px;
  height: 50px;
  background-color: saddlebrown;
}

.orange-box {
  width: 200px;

  background-color: orange;

  z-index: 100;
}

.big-box {
  width: 300px;
  height: 200px;
  background-color: blue;

  border-width: 2px;
  border-style: solid;
  border-color: black;
  border: 2px solid black;
}

.even-bigger-box {
  width: 200px;
  height: 500px;
  background-color: red;
}

/* --- Positioning --- */

/* Static is the default 'position'. */
.static {
  position: static;
}

/* Once an element has got a position other than 'static', we have access to these properties: */
/* top:0;
  left:0;
  bottom:0;
  right:0; */

/* Position 'sticky' sticks the element to browser window as we scroll */
.sticky-top {
  position: sticky;
  top: 50px;
  margin-left: 400px;

  z-index: 30;
}

.sticky-bottom {
  position: sticky;
  bottom: 50px;
  margin-left: 400px;

  z-index: 30;
}

/* Position 'absolute' lets us move an element relative to its nearest parent */
.absolute {
  position: absolute;

  top: 10px;
  right: 20px;

  z-index: 20;
}

/* Position relative lets us declare an elements nearest parent as the one to be relateively positioned against */
.relative {
  position: relative;
}

/* Position fixed fixes an element to the window of our screen */
.fixed {
  position: fixed;

  bottom: 10px;
  right: 0;
}

/* --- Helpers --- */

img {
  z-index: 10;
}

.fit-content {
  width: fit-content;
}

.orange {
  background-color: orange;
  color: white;
}
